/* adicione aqui os novos .wh */

.pxy-\[8px\2c 16px\] {
  padding: 8px 16px 8px 16px;
}

.pxy-\[16px\2c 22px\] {
  padding: 16px 22px 16px 22px;
}

.pxy-\[10px\2c 22px\] {
  padding: 10px 22px 10px 22px;
}


.pxy-\[8px\2c 22px\] {
  padding: 8px 22px 8px 22px;
}
.pxy-\[8px\] {
  padding: 8px;
}
.pxy-\[106px\2c 0px\2c 0px\2c 32px\] {
  padding: 106px 0px 0px 32px;
}
.pxy-\[106px\2c 0px\2c 0px\2c 50\%\] {
  padding: 106px 0px 0px 50%;
}
.pxy-\[106px\2c 0px\2c 0px\2c 50px\] {
  padding: 106px 0px 0px 50px;
}
.pxy-\[106px\2c 0px\2c 0px\2c 0px\] {
  padding: 106px 0px 0px 0px;
}
.pxy-\[106px\2c 106px\2c 106px\2c 106px\] {
  padding: 106px 106px 106px 106px;
}
.pxy-\[106px\] {
  padding: 106px;
}
.wh-\[100px\2c 1500px\] {
  width: 100px;
  height: 1500px;
}
.wh-\[100px\2c full\] {
  width: 100px;
  height: 100%;
}
.wh-\[min-w-8px\2c min-h-8px\] {
  min-width: 8px;
  min-height: 8px;
}
.wh-\[min-w-10px\2c min-h-10px\] {
  min-width: 10px;
  min-height: 10px;
}
.wh-\[min-w-36px\2c min-h-36px\] {
  min-width: 36px;
  min-height: 36px;
}
.wh-\[min-h-36px\2c min-h-36px\] {
  min-height: 36px;
  min-height: 36px;
}
.wh-\[min-h-36px\] {
  min-height: 36px;
}
.wh-\[36px\] {
  width: 36px;
  height: 36px;
}
.wh-\[100\%\] {
  width: 100%;
  height: 100%;
}
.wh-\[16px\] {
  width: 16px;
  height: 16px;
}
.wh-\[max-w-100\%\] {
  max-width: 100%;
}
.wh-\[max-h-100\%\2c max-w-100\%\] {
  max-height: 100%;
  max-width: 100%;
}
.wh-\[max-h-100\%\2c  max-w-100\%\] {
  max-height: 100%;
  max-width: 100%;
}
.wh-\[max-h-100\%\] {
  max-height: 100%;
}
.pxy-\[8px\2c 8px\2c 8px\2c 8px\] {
  padding: 8px 8px 8px 8px;
}
.pxy-\[6px\2c 8px\2c 6px\2c 8px\] {
  padding: 6px 8px 6px 8px;
}
.pxy-\[0px\2c 24px\2c 0px\2c 24px\] {
  padding: 0px 24px 0px 24px;
}
.wh-\[full\] {
  width: 100%;
  height: 100%;
}
.wh-\[820px\] {
  width: 820px;
  height: 820px;
}
.wh-\[800px\] {
  width: 800px;
  height: 800px;
}
.wh-\[700px\] {
  width: 700px;
  height: 700px;
}
.wh-\[500px\] {
  width: 500px;
  height: 500px;
}
.wh-\[100px\2c 50px\] {
  width: 100px;
  height: 50px;
}
.wh-\[100px\] {
  width: 100px;
  height: 100px;
}
.wh-\[900px\] {
  width: 900px;
  height: 900px;
}
.pxy-\[50px\] {
  padding: 50px;
}
.pxy-\[100px\] {
  padding: 100px;
}

.wh-\[1500px\] {
  width: 1500px;
  height: 1500px;
}
.pxy-\[0px\2c 16px\2c 0px\2c 16px\] {
  padding: 0px 16px 0px 16px;
}
.wh-\[max-w-100\%\2c max-h-100\%\] {
  max-width: 100%;
  max-height: 100%;
}
.wh-\[min-w-100\%\2c min-h-100\%\] {
  min-width: 100%;
  min-height: 100%;
}
.pxy-\[24px\2c 24px\2c 24px\2c 24px\] {
  padding: 24px 24px 24px 24px;
}
.wh-\[min-w-500px\2c min-h-575\2e 72px\] {
  min-width: 500px;
  min-height: 575.72px;
}
.wh-\[min-w-500px\2c 575\2e 72px\] {
  min-width: 500px;
  height: 575.72px;
}
.wh-\[500px\2c 575\2e 72px\] {
  width: 500px;
  height: 575.72px;
}


.pxy-\[0px\2c 0px\2c 18px\2c 0px\] {
  padding: 0px 0px 18px 0px;
}

.pxy-\[0px\2c 0px\2c 20px\2c 0px\] {
  padding: 0px 0px 20px 0px;
}

.pxy-\[0px\2c 0px\2c 22px\2c 0px\] {
  padding: 0px 0px 22px 0px;
}

.pxy-\[0px\2c 0px\2c 24px\2c 0px\] {
  padding: 0px 0px 24px 0px;
}

.pxy-\[0px\2c 0px\2c 26px\2c 0px\] {
  padding: 0px 0px 26px 0px;
}

.pxy-\[0px\2c 0px\2c 32px\2c 0px\] {
  padding: 0px 0px 32px 0px;
}

.pxy-\[0px\2c 0px\2c 36px\2c 0px\] {
  padding: 0px 0px 36px 0px;
}


.wh-\[24px\2c 100\%\] {
  width: 24px;
  height: 100%;
}

.wh-\[22px\] {
  width: 22px;
  height: 22px;
}

